# ========================
# Node.js Project .gitignore
# ========================

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic Reports (Node.js Report API)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime Data
pids/
*.pid
*.seed
*.pid.lock

# Instrumented Libraries (jscoverage/JSCover)
lib-cov/

# Test Coverage (Istanbul, nyc)
coverage/
*.lcov
.nyc_output/

# Build System Files
.lock-wscript

# Compiled Binary Addons (Node.js Addons)
build/Release/

# Dependency Directories
node_modules/
jspm_packages/

# TypeScript Files & Cache
typings/
*.tsbuildinfo

# Cache & Temporary Files
.npm/
.eslintcache
.node_repl_history
.cache/

# Packaged Output
*.tgz

# Yarn Specific Files
.yarn-integrity

# Environment Variables Files
.env
.env.test

# Vitepress Cache & Build Files
docs/.vitepress/dist/
docs/.vitepress/cache/

# macOS System Files
.DS_Store
