/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 32px 16px;
}

.logoContainer {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.logoContainer h1 {
  margin: 0 !important;
  padding-left: 8px;
  font-weight: 800;
}

.betaAlert {
  padding: 16px 24px;
  background: rgb(255, 248, 197);
  border: 1px solid rgba(212, 167, 44, 0.4);
  border-radius: 6px;
}

.indexContainer {
  font-size: 0.9em;
}

.indexContainer {
  font-size: 0.9em;
}

.indexContainer a:link {
  color: #0000ee;
}
.indexContainer a:visited {
  color: #551a8b;
}

.downloadHelpLink {
  font-size: 0.8em;
  padding-top: 18px;
  color: #999;
}

.downloadButtonContainer {
  display: block;
  margin-bottom: 32px;
}

.downloadButton {
  margin-right: 16px;
}

.indexContainer .downloadButton:link {
  padding: 12px 18px;
  border-radius: 6px;
  background-color: #8a63d2;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
}

.indexContainer .downloadButton:visited {
  border-radius: 6px;
  background-color: #8a63d2;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
}

.indexContainer .downloadButton:hover {
  background-color: #fff;
  color: #8a63d2;
  border: 1px solid #8a63d2;
  text-decoration: none;
  font-weight: 600;
}

.indexContainer hr {
  border: 0px none;
  border-bottom: 2px solid #eee;
}

.indexContainer h4 {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}

.indexContainer h5 {
  margin-bottom: 8px;
  padding-bottom: 8px;
  color: #999;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.indexContainer .h5collapse {
  margin-bottom: 4px;
  padding-bottom: 0px;
}

.indexContainer h4 + p,
.indexContainer h4 + ul {
  margin-bottom: 60px;
}

.indexContainer ul {
  padding-left: 20px;
}

.indexContainer li {
  margin-bottom: 20px;
}
