/* .vitepress/theme/custom.css */
:root {
  --vp-c-purple-1: #8a63d2;
  --vp-c-purple-2: #6950a3;
  --vp-c-purple-3: #5d468e;;
  --vp-c-purple-soft: rgba(138, 99, 210, 0.5);

  --vp-c-brand-1: var(--vp-c-purple-1);
  --vp-c-brand-2: var(--vp-c-purple-2);
  --vp-c-brand-3: var(--vp-c-purple-3);
  --vp-c-brand-soft: var(--vp-c-purple-soft);
}
